# Project place file
/JECS-Testing.rbxl

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json
luau_packages/
lune_packages/
roblox_packages/

**/*.rbxl*
.DS_Store
roblox.yml
roblox.toml
globalTypes.d.lua

**/sourcemap.json
dist/